header{
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #0e1015;
}

.navbar{
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #FFF;

  .navbar-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .title-page{
      h1{
        color: $white;
        @include rem-2(16, 20);
        font-family: "Poppins", sans-serif;
        font-weight: 700;

        span{
          color: $primary;
          @include rem(22);
        }
      }
    }

    .menu-button{
      position: relative;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      background: transparent;
      border: none;
      overflow: hidden;

      span{
        width: 17px;
        height: 2px;
        position: absolute;
        left: 0;
        background-color: $primary;
        border-radius: 4px;
        transition: all 0.3s;

        &:nth-child(1){
          transform: translateY(-10px);
        }

        &:nth-child(2){
          width: 25px;
        }

        &:nth-child(3){
          transform: translateY(10px);
        }
      }

      &:focus{
        box-shadow: none;
      }
    }

    .menu-button.active{
      span{
        &:nth-child(1){
          width: 20px;
          transform: translateY(0px) rotate(45deg);
          transition-delay: 0.125s;
        }

        &:nth-child(2){
          transform: translateX(60px);

        }

        &:nth-child(3){
          width: 20px;
          transform: translateY(0px) rotate(315deg);
          transition-delay: 0.25s;
        }
      }
    }

    .navbar-links-container{
      padding: 20px;
      @include rem(22);

      .navbar-nav{
        .nav-link{
          color: $tertiary;
          font-weight: 600;

          &:hover{
            color: $primary;
          }
        }

        .nav-link.active{
          color: $primary;
        }
      }
    }

    .get-touch-link{
      display: none;
    }
  }
}

@include media-breakpoint-up(md){
  .navbar{
    .navbar-container{
      .menu-button{
        display: none;
      }

      .navbar-links-container{
        padding: 0px;
        @include rem(22);
        flex-grow: 0;

        .navbar-nav{
          @include adyacent-left(20px);

          .nav-link{
            @include rem(18);
            padding: 0;
          }

          .nav-link.get-touch{
            display: none;
          }
        }
      }

      .get-touch-link{
        display: block;
        background-color: rgb(78, 82, 90);
        border-radius: 50%;
        width: 35px;
        height: 35px;

        a{
          height: 100%;
          width: 100%;
          background: $white;
          @include mask-image(url('../../../img/icons/get-touch.svg'));
          @include mask-size(20px 20px);
          @include mask-repeat(no-repeat);
          @include mask-position(center center);
        }

        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
