.about{
  padding: 180px 0px;

  .about-row{
    display: flex;
    flex-wrap: wrap;

    .about-col{
      .title{
        color: $white;

        h2{
          // @include rem-2();
        }
      }

      .text{
        color: $tertiary;
        @include adyacent-top(20px);
      }
    }

    .skill-col{
      width: 100%;

      .carousel-inner{
        .carousel-item{
          .carousel-title{

          }

          .icons-wrapper{
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .icon-item{
              padding: 0 5px;
              width: 33%;

              .icon-text{
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .about{
    .about-row{
      .about-col{
        width: 50%;

        .title{

        }

        .text{

        }
      }

      .skill-col{
        width: 50%;
      }
    }
  }
}
